 <div id="nav"><div class="lc">
      <div class="rc">
        <%= link_to '控制面板', control_path %>
        <%= link_to '首页', home_path(:user_id => @user.id)%>
        <%= link_to '  个人档案  ', user_informations_path (:user_id => @user.id)%>
        <%= link_to '  博  客  ', user_entries_path(:user_id => @user.id), :class => "on"%>
        <%= link_to '  相  册  ', user_galleries_path(:user_id => @user.id) %>
        <%= link_to '  好  友  ', user_friends_path(:user_id => @user.id) %>
        <%= link_to '  朋 友 圈  ' %>
        <%= link_to '  留 言 薄  ' , user_comments_path (:user_id => @user.id)%>
        <div id="tabline"></div></div>
  </div></div>
