<%= render :partial => 'top'%>
<div id="content">
<div id="indexleft">
  <%= render :partial => 'shared/left'%>
  </div>
  <div id="con_ina">
  <div class="mod">
  <div class="modth">
  <div class="lc">
  <div class="rc">
  <div class="modtit">
  <h1>
  写新文章
  </h1>
  </div>
  </div>
  </div>
  </div>
  <div class="modbox" id="addblog">
    <% form_for :entry, :url => user_entries_path do |f|%>
      <ul>
      <li><strong>文章标题:</strong>
      <label>
      <%= f.text_field :title, :class => 'input'%>
      </label>
      <label>
      <%= f.collection_select :entry_category_id, EntryCategory.find(:all), :id, :name %>
      </label>
      </li>
      <li>
      <div id="addblogcon">
      <%= f.text_area :content, :rows => 20, :cols => 70 %>
      </li>
      <li id="tags"><strong>默认标签</strong>
      <% tag_cloud @tags, %w(tag1 tag2 tag3 tag4 tag5) do |name, css_class|%>
        <%= link_to name, user_tag_path(name, :class => css_class) %>
      <% end %></li>
      <!--
        <li id="tags1"><strong>默认标签:</strong> 
      tag_cloud @tags, %w(tag1 tag2 tag3 tag4) do |tag, css_class|%>
        link_to tag.name, { :action => :tag, :id => tag.name } , :class => css_class %>
      end %>
      </li>
      <li><strong>自己写标签: </strong>
      text_field :tags, :name, :class = 'input'
      </li>-->
      <li id="tags2" style=""><strong>已有自定义标签:</strong>
      <li class="upload_notice">我们鼓励您上传原创的内容。但请勿上传涉及色情、政治敏感及其他非法内容的文章，否则会被删除。</li>
      <li class="upload_but"><%= submit_tag '立刻发表', :class => 'button' %>
      <input name="action" id="action" value="save" type="hidden">
      <input name="logid" id="logid" value="" type="hidden">
      </li>
    </ul>
  <% end %></div>
<div class="clear">
</div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
