<table border="0" cellpadding="5" cellspacing="0" width="500">
  <tbody>
    <tr>
      <td align="center"><label><%= image_tag("../images/layouts/layout1.gif")%></label></td>
      <td align="center"><label><%= image_tag("../images/layouts/layout2.gif")%></label></td>
      <td align="center"><label><%= image_tag("../images/layouts/layout3.gif")%></label></td>
      <td align="center"><label><%= image_tag("../images/layouts/layout4.gif")%></label></td>
      <td align="center"><label><%= image_tag("../images/layouts/layout5.gif")%></label></td>
    </tr>
    <tr>
      <td align="center"><%= radio_button :space, :composition, 'layout1'%></td>
      <td align="center"><%= radio_button :space, :composition, 'layout2'%></td>
      <td align="center"><%= radio_button :space, :composition, 'layout3'%></td>
      <td align="center"><%= radio_button :space, :composition, 'layout4'%></td>
      <td align="center"><%= radio_button :space, :composition, 'layout5'%></td>
    </tr>
  </tbody>
</table>
