 <div id="nav"><div class="lc">
      <div class="rc">
        <%= link_to '控制面板' %>
        <a href="home.php?u=jshmemory" class="on"><font>首页</font></a>
        <%= link_to '  个人档案  ' %>
        <%= link_to '  博  客  ', user_entries_path(:user_id => logged_in_user.id)%>
        <%= link_to '  相  册  ' %>
        <%= link_to '  好  友  ' %>
        <%= link_to '  朋 友 圈  ' %>
        <%= link_to '  留 言 薄  ' %>
        <div id="tabline"></div></div>
  </div></div>
