<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>密密麻麻网</title>
    <meta name="Description" content="密密麻麻网" />
    <meta name="Keywords" content="摄影婚庆" />
    <%= stylesheet_link_tag 'application/indexbeta' %>
    <%= stylesheet_link_tag 'application/list'%>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'rotateads'%>
    <%= javascript_include_tag 'stat'%>
  </head>
  <body>
    <div id="header">
      <%= render :partial => 'shared/header' %>
    </div>
    <div class="main top">
      <div id="left">
        <%= render :partial => 'shared/left2' %>
      </div>
      <%= yield %>
      <%= javascript_include_tag 'foot' %>
    </body>
  </html>

