<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>รรย้ย้อ๘</title>
    <meta name="Description" content="รรย้ย้อ๘" />
    <meta name="Keywords" content="ษใำฐป้ว์" />
    <%= stylesheet_link_tag 'campaign' %>
    <%= stylesheet_link_tag 'headerbeta'%>
  
  </head>
  <body>
    <div id="header">
      <%= render :partial => 'shared/header' %>
    </div>
  </div>
      <%= yield %>
      <%= javascript_include_tag 'foot' %>
    </body>
  </html>

