<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <title> 小白论坛-密密麻麻网 密密麻麻网为会员提供关于消费等生活信息 - Powered by Discuz!</title>
    <meta name="keywords" content="会员报到，会员求助发问，密密麻麻教学中心,最新活动讨论,活动回顾,消费讨论,成都美食, 客户服务">
    <meta name="description" content=" 小白论坛-密密麻麻网  - Discuz! Board">
    <meta name="generator" content="Discuz! 6.0.0">
    <meta name="author" content="Discuz! Team and Comsenz UI Team">
    <meta name="copyright" content="2001-2007 Comsenz Inc.">
    <meta name="MSSmartTagsPreventParsing" content="True">
    <meta http-equiv="MSThemeCompatible" content="Yes">
    <link rel="archives" title="小白论坛-密密麻麻网" href="http://www.mimimama.com/forum/archiver/">
    <%= stylesheet_link_tag 'headerbeta'%>
    <%= stylesheet_link_tag 'masterbeta'%>
    <link rel="alternate" type="application/rss+xml" title="小白论坛-密密麻麻网" href="http://www.mimimama.com/forum/rss.php?auth=CDMQn8Nm5cl3XOveuM8QYXBzGDHzm8E">
    <%= stylesheet_link_tag 'style_12'%>
    <script type="text/javascript">var IMGDIR = './images/mimimama';var attackevasive = '0';var gid = 0;gid = parseInt('0');var fid = parseInt('0');var tid = parseInt('0');</script>
    <script src="include/javascript/common.js" type="text/javascript"></script>
    <script src="include/javascript/menu.js" type="text/javascript"></script>
    <script src="include/javascript/ajax.js" type="text/javascript"></script>
    </head><body onkeydown="if(event.keyCode==27) return false;">
    <!-- 头部开始 -->
    <div id="append_parent"></div><div id="ajaxwaitid"></div>
    <div class="wrap">
      <div id="header">

        <div id="logo"><a href="http://www.mimimama.com"><img src="http://www.mimimama.com/new/images/logo.gif" alt="密密麻麻网"></a></div>
        <div id="header_l1">
          <ul>
            <li><a href="http://www.mimimama.com/sitemap/">网站地图</a></li>
            <li class="help"><a href="http://www.mimimama.com/help/">帮助中心</a></li>
            <li><a href="http://www.mimimama.com/buycard/card_index.php">会员服务</a></li>
            <li><a href="http://www.mimimama.com/blogs.php">博客</a></li>

            <li><a href="http://www.mimimama.com/usershall.php">社区</a></li>
            <li><a href="http://www.mimimama.com/ctrlpanel.php">控制面板</a></li>
            <li><cite><a href="space.php?action=viewpro&amp;uid=10971">jshmemory</a></cite> <a href="/logout.php?forward=http%3A%2F%2Fwww.mimimama.com%2Fforum%2F" class="notabs">[退出]</a></li>

          </ul>
        </div>
        <div id="header_nav">

          <div id="navtab">
            <ul>
              <li class="ta"><a href="http://www.mimimama.com/index.php">首页</a></li>
              <li class="ta"><a href="http://sale.mimimama.com/marry/">摄影婚庆</a></li>
              <li class="ta"><a href="http://sale.mimimama.com/home/">家装建材</a></li>
              <li class="ta"><a href="http://sale.mimimama.com/doc/1/listpage/sale_p_p_4_20_1.html">汽车服务</a></li>
              <li class="ta"><a href="http://sale.mimimama.com/peixun/">培训教育</a></li>

              <li class="ta"><a href="http://sale.mimimama.com/doc/1/listpage/sale_p_p_6_20_1.html">健身美容</a></li>
            </ul>
          </div>
          <div id="navtab2">
            <ul>
              <li class="tc"><%= link_to '论坛',forums_path%></li>
              <!-- <li class="t3"><a href="http://www.mimimama.com/campaign.php">夜场</a></li> -->
              <li class="t2"><a href="http://www.mimimama.com/campaign.php">活动</a></li>

              <li class="t1"><a href="http://www.mimimama.com/shop.php">消费点评</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="search">
        <div id="search_left">
          <div id="search_right">
            <div id="nav_search">

              <form style="display: inline;" id="head_searchform" action="http://so.mimimama.com/s/search.jsp" onsubmit="return this.key.value!=''" target="_blank">
                <span id="nav_s1">
                  <input name="key" class="tfield" id="key" onfocus="if('请输入关键词，如婚庆，酒吧...'==this.value)this.value=''" onblur="if(''==this.value)this.value='请输入关键词，如婚庆，酒吧...'" value="请输入关键词，如婚庆，酒吧..." size="50" type="text">
                </span>
                <button type="submit" id="nav_s2">搜索</button>
                <input name="si" id="searchform_si" value="2" type="hidden">
                <div id="nav_s3"><a href="http://so.mimimama.com/">高级搜索</a></div>
              </form>

            </div>
            <div id="tel400"><a href="http://www.mimimama.com/buycard/index.php" title="申领密密麻麻网会员卡，有问题请拨打客服电话：4006-829-353" target="_blank">申领密密麻麻网会员卡有问题请拨打客服电话：4006-829-353</a></div>
          </div>
        </div>
      </div>
      <!-- 头部结束 -->
      <div id="menu" class="top">

        <ul>
          <li><cite><%= link_to logged_in_user.username, userhome_path(:user_id => logged_in_user)%></cite></li>
          <li><%= link_to '退出', logout_path %></li>
          <li><a href="pm.php" target="_blank">短消息</a></li>
          <li><a href="member.php?action=list">会员</a></li>
          <li><a href="search.php">搜索</a></li>
          <li><a href="tag.php">标签</a></li>	
          <li id="my" class="dropmenu" onmouseover="showMenu(this.id)"><a href="my.php">我的</a></li>
          <li id="memcp" class="dropmenu" onmouseover="showMenu(this.id)"><a href="memcp.php">控制面板</a></li>								<li><a href="magic.php">道具</a></li>																<li><a href="faq.php">帮助</a></li>
        </ul>
      </div>

        <%= yield %>

      <div id="footer">
        <div id="footmain">
          <div id="logo2">
          </div>
          <div id="footcopy"><a href="">关于我们</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_media.html">媒体报道</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_ad.html">广告服务</a>&nbsp;&nbsp;&nbsp;<a href="http://www.mimimama.com/about/index_joinus.html">招贤纳士</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_copy.html">版权说明</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/about/index_lianxi.html">联系我们</a>&nbsp;&nbsp;&nbsp; <a href="http://www.mimimama.com/ulinks.php">友情链接</a> &nbsp;&nbsp;&nbsp;<a href="http://login.sale.mimimama.com/">客户登录</a><br>

            Copyright 2005-2008, 版权所有mimimama.com&nbsp;TEL:+86 028 6288015 , 4006-829-353<br>
            青藤互动：<a href="" target="_blank">密密麻麻网</a> | <a href="http://life.169ol.com/" target="_blank">联通分站</a> | <a href="http://www.lx1999.com.cn" target="_blank">龙翔手机</a> | <a href="http://www.028auto.net/" target="_blank">成都汽车网</a> <br>

            蜀ICP备<a href="" target="_blank" title="网络备案号06011367">06011367</a>号  - <a href="archiver/" target="_blank">Archiver</a>				</div>
          <div id="logo3">
            <div id="foot_ntjc"><a href="http://www.cdnet110.com/" title="成都网络报警亭" target="_blank"><span>成都网络报警亭</span></a></div>
          </div>
          <!-- 51.la统计代码  -->
          <script src="http://js.users.51.la/2107423.js" type="text/javascript"></script><a href="http://www.51.la/?002107423" target="_blank"><img alt="51.la 专业、免费、强健的访问统计" src="http://icon.ajiang.net/icon_1.gif" style="border: medium none ;"></a>

          <img style="width: 0px; height: 0px;" src="http://web.51.la/go.asp?svid=27&amp;id=2107423&amp;tpages=179&amp;ttimes=10&amp;tzone=8&amp;tcolor=24&amp;sSize=1440,900&amp;referrer=http%3A//www.mimimama.com/forum/forumdisplay.php%3Ffid%3D54%26filter%3Dtype%26typeid%3D96&amp;vpage=http%3A//www.mimimama.com/forum/">

          <noscript><a href="http://www.51.la/?2107423" target="_blank"><img alt="我要啦免费统计" src="http://img.users.51.la/2107423.asp" style="border:none" /></a></noscript>
          <!-- 51.la统计代码 -->	

          <script type="text/javascript">
            var insenz_status = 0;
            var insenz_availableadvs = {'headerbanner' : '1', 'thread3_0' : '2', 'thread2_0' : '3', 'thread1_0' : '4', 'interthread' : '5', 'footerbanner1' : '6', 'footerbanner2' : '7', 'footerbanner3' : '8'};
var insenz_adkeys = [];
var ad_divs = $('ad_none').getElementsByTagName('div');
var insenz_cookie = document.cookie.indexOf('insenz_cookie') == -1 ? null : getcookie('insenz_cookie');
var ad_obj = null;

if(!insenz_status || insenz_cookie) {
  for(var i = 0; i < ad_divs.length; i++) {
    if(ad_divs[i].id.substr(0, 3) == 'ad_' && (ad_obj = $(ad_divs[i].id.substr(0, ad_divs[i].id.length - 5))) && ad_divs[i].innerHTML) {
      if(insenz_cookie) {
        re = new RegExp(insenz_availableadvs[ad_divs[i].id.substr(3, ad_divs[i].id.length - 8)] + "\:(0" + "|" + gid + "|" + fid + ")", "ig");
        if(re.exec(insenz_cookie) != null) continue;
      }
      ad_obj.innerHTML = ad_divs[i].innerHTML;
      ad_obj.className = ad_divs[i].className;
    }
  }
}
</script>

<script type="text/javascript">
  $('ad_none').parentNode.removeChild($('ad_none'));
  </script>
</div></div></body></html>
